openapi: 3.0.0
info:
  title: "ModelService API"
  description: "This API specification is for the World Modelers Modeling Service System. The goal of this API is to provide a controller for model discovery and exploration, as well as for initializing and managing model runs."
  version: "1.0.0"
  
servers:
  - url: http://modelservice.worldmodelers.com
    description: Future (production) server
  - url: http://localhost:8080
    description: Local server for testing
  
paths:
  /list_models:
    post:
      tags:
      - "exploration"
      summary: "Obtain a list of current models"
      description: "Request a list of currently available models."
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableModels'
  /model_info/{ModelName}:
    get:
      tags:
      - "exploration"
      summary: "Get basic metadata information for a specified model."
      description: "Submit a model name and receive metadata information about the model, such as its purpose, who maintains it, and how it can be run."
      parameters:
      - in: path
        name: ModelName
        description: "The name of a model."
        required: true
        schema:
          $ref: "#/components/schemas/ModelName"
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
  /model_io:
    post:
      tags:
      - "exploration"
      summary: "Obtain information on a given model's inputs or outputs."
      description: "Submit a model name and receive information about the input or output files required by this model."
      requestBody:
        description: "The name of a model and an IO type."
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IORequest"
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelIO'
  /model_config/{ModelName}:
    get:
      tags:
      - "exploration"
      summary: "Obtain configurations for a given model."
      description: "Submit a model name and receive all configurations for the given model."
      parameters:
      - in: path
        name: ModelName
        description: "The name of a model."
        required: true
        schema:
          $ref: "#/components/schemas/ModelName"
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: '#/components/schemas/ModelConfig'    
  /search:
    post:
      tags: 
      - "exploration"
      summary: "Search for a model, dataset, or variable"
      description: "Search for a model, dataset, or variable based on name or standard name"
      requestBody:
        description: "Search parameters"
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/GeoQuery"
                - $ref: "#/components/schemas/TimeQuery"
                - $ref: "#/components/schemas/TextQuery"
              discriminator:
                propertyName: query_type
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResult"
  /run_model:
    post:
      tags:
      - "execution"
      summary: "Run a model for a given a configuration"
      description: "Submit a configuration to run a specific model. Model is run asynchronously. Results are available through `/run_results` endpoint."
      requestBody:
        description: "Model and configuration parameters"
        required: true
        content:
          application/json:
            schema: 
              $ref: "#/components/schemas/ModelConfig"
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RunID"
  /run_status/{RunID}:
    get:
      tags:
      - "execution"
      summary: "Obtain status for a given model run"
      description: "Submit a `RunID` and receive the model run status"
      parameters:
      - in: path
        name: RunID
        description: "The `ID` for a given model run."
        required: true
        schema:
          $ref: "#/components/schemas/RunID"
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunStatus'
  /run_results/{RunID}:
    get:
      tags:
      - "execution"
      summary: "Obtain metadata about the results of a given model run"
      description: "Submit a `RunID` and receive model run results metadata, including whether it succeeded or failed and where to access the result data."
      parameters:
      - in: path
        name: RunID
        description: "The ID for a given model run."
        required: true
        schema:
          $ref: "#/components/schemas/RunID"
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResults'
  /list_runs/{ModelName}:
    get:
      tags:
      - "execution"
      summary: "Obtain a list of runs for a given model"
      description: "Submit a `ModelName` and receive an array of `RunID`s associated with the given model."
      parameters:
      - in: path
        name: ModelName
        description: "A model name"
        required: true
        schema:
          $ref: "#/components/schemas/ModelName"
      responses:
        200:
          description: "SUCCESS"
          content:
            application/json:
              schema:
                type: "array"
                items:
                  $ref: '#/components/schemas/RunID'   

components:
  schemas:
    ModelName:
      type: "string"
      description: "A model's name"
      example: "DSSAT"  
    Model:
      type: "object"
      required:
      - "name"
      - "description"
      - "maintainer"
      description: "An object defining high-level metadata about a model"
      properties:
        name:
          $ref: '#/components/schemas/ModelName'
        versions:
          type: "array"
          items:
            type: "string"
          example: ["1.1", "1.2", "LATEST"]
          description: "Latest model version"
        maintainer:
          type: "string"
          description: "Maintainer information for this model. Should include institution name and point of contact."
          example: "Cheryl Porter, University of Florida, cporter@ufl.edu"
        description:
          type: "string"
          description: "A basic overview of the model's purpose."
          example: "The Decision Support System for Agrotechnology Transfer (DSSAT) is a software application program that comprises crop simulation models for over 42 crops (as of Version 4.7) as well as tools to facilitate effective use of the models. The tools include database management programs for soil, weather, crop management and experimental data, utilities and application programs. The crop simulation models simulate growth, development and yield as a function of the soil-plant-atmosphere dynamics."
        category: 
          # this may ultimately be an enumerated (fixed) string 
          # e.g. select from one of the following (from ontology)
          type: "array"
          description: "The category for the given model."
          items:
            type: "string"
          example: ["Agriculture", "Economic"]
    AvailableModels:
      type: "array"
      items:
        $ref: '#/components/schemas/ModelName'
      uniqueItems: true
      description: "An array of available models"
      example: [ "DSSAT", "PIHM", "TopoFlow", "Cycles", "ClimComp" ]
    ModelIO:
      type: "array"
      description: "Array of input or output files for the given model."
      items:
        $ref: '#/components/schemas/IOFile'
    IOFile:
      # Note that this explicitly does not require low-level definitions
      # of a file schema, nor does it require variable definitions
      type: "object"
      description: "An object that defines a single input or output file for a model"
      required:
        - "name"
        - "description"
        - "filetype"
      properties:
        name:
          type: "string"
          description: "The name of a given input or output file. This should be general and should not reference a specific file."
          example: "NASA-POWER Weather Data"
        description:
          type: "string"
          description: "Description of the file."
          example: "Weather data from the NASA-POWER database. This database provides historical global weather data, including a minimum dataset of DSSAT, on 1-degree grids in ICASA Standards format."
        filetype: 
          type: "string"
          description: "The file type (extension) for this file"
          example: "WTH"
        variables:
          type: "array"
          description: "An array of variables associated with a given input or output file"
          items:
            $ref: '#/components/schemas/Variable'
    IORequest:
      type: "object"
      description: "A request object indicating whether the response should return either input or output files and for which model"
      properties:
        name:
          $ref: '#/components/schemas/ModelName'
        iotype:
          type: "string"
          enum: ["input", "output"]
    ModelConfig:
      # this can be an example config, or a config submitted to execute
      # a job. This is loosely defined for the time being.
      # note that the `valid` and `error` fields should only be 
      # completed when associated with the `validate_config` endpoint
      type: "object"
      description: "A model configuration file (JSON)."
      required:
        - "name"
        - "config"
      properties:
        name: 
          $ref: '#/components/schemas/ModelName'
        config:
          type: "object"
    Variable:
    # the variable can have arbitrary information stored in its metadata field
      type: "object"
      description: "A variable used in a model input or output file."
      required:
        - "name"
        - "standard_name"
      properties:
        name: 
          type: "string"
        standard_name:
          type: "string"
        standard_name_ontology:
          type: "string"
        units:
          type: "string"
        metadata:
          type: "object"
    SearchResult:
      type: "object"
      description: "The result of a search"
    Query:
      type: "object"
      required:
        - "query_type"
        - "result_type"
      discriminator: 
        propertyName: query_type
      properties:
        query_type:
          type: "string"
          description: "Is this a geo, time or text query?"
          enum: ["geo", "time", "text"]
        result_type:
          type: "string"
          description: "Should the query return models, datasets, or variables?"
          enum: ["models", "datasets", "variables"]  
    GeoQuery:
      allOf: 
        - $ref: "#/components/schemas/Query"
        - type: "object"
          description: "A geospatial bounding box search parameter is 4-elements in the WGS84 coordinate system: [xmin, ymin, xmax, ymax]. x is longitude, y is latitude"
          required:
            - "xmin"
            - "xmax"
            - "ymin"
            - "ymax"
            - "result_type"
          properties:
            xmin:
              description: "Minimum longitude"
              type: "number"
            xmax:
              description: "Maximum longitude"
              type: "number"
            ymin:
              description: "Minimum latitude"
              type: "number"
            ymax:
              description: "Maximum latitude"
              type: "number"
    TimeQuery:
      allOf:
        - $ref: "#/components/schemas/Query"
        - type: "object"      
          description: "A query defined by a start and end time."
          required:
            - "start_time"
            - "end_time"
          properties:
            start_time:
              description: "Minimum time for search query."
              type: "string"
            end_time:
              description: "Maximum time for search query"
              type: "string"
    TextQuery:
      allOf:
        - $ref: "#/components/schemas/Query"
        - type: "object"      
          description: "A text string based query."
          required:
            - "type"
            - "term"
          properties:
            type: 
              description: "The type of query (either keyword or standard name)"
              type: "string"
              enum:
                - "keyword"
                - "standard name"
            term:
              description: "The search term of interest."
              type: "string"
    RunID:
      type: "string"
      description: "ID associated with a model run. This is the SHA256 hash of the ModelConfig sent to the /run_model endpoint"
      example: "3A3B3E0AE57AD4A7EF658C1F7832774F55E403F01FDF44B68B355EC4587D7A04"
    RunStatus:
      type: "string"
      description: "Status information about a model run."
      enum:
        - "PENDING"
        - "FAIL"
        - "SUCCESS"
    RunResults:
      type: "object"
      description: "Metadata about the results of a given model run."
      properties:
        config:
          $ref: "#/components/schemas/ModelConfig"
        status:
          type: "string"
          enum: ["SUCCESS", "FAIL", "PENDING"]
        output:
          type: "string"
          description: "URI for accessing output (for example, on S3)"